* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: arial, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 14px;
}

nav a {
  font-size: 13px;
  display: inline-block;
  line-height: 24px;
  font-weight: 400;
  color: #7b7b7b;
  cursor: pointer;
  padding: 5px 7px;
  text-decoration: none;
}

.flask-icon:hover {
  text-decoration: underline;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.account-profile {
  border: 1px solid #455a64;
  font-weight: bold;
  outline: none;
  background: #455a64;
  color: whitesmoke;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  position: relative;
  bottom: 3px;
}

.account-profile-prefix {
  position: relative;
  right: 1px;
}

.flask-icon img {
  height: 20px;
}

.flask-icon:hover {
  text-decoration: underline;
  background-color: #f0f0f0;
  border-radius: 50%;
}
.apps img {
  height: 20px;
}

.apps:hover {
  text-decoration: underline;
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 35px;
}

.section-1 {
  flex: 1;
  margin-top: 110px;
  padding: 20px;
}

.section-1 img {
  display: block;
  margin: 0px auto;
  width: 250px;
}

.search-box {
  max-width: 600px;
  margin: 20px auto;
  position: relative;
  text-align: center;
}

.search-box .search-input {
  display: block;
  border: 1px solid #ddd;
  color: black;
  font-size: 16px;
  padding: 13px 75px 13px 45px;
  border-radius: 25px;
  width: 100%;
  outline: none;
}

.search-box .search-icon {
  width: 20px;
  opacity: 4;
  position: absolute;
  top: 13px;
  right: 560px;
}

.search-box .google-voice {
  width: 20px;
  position: absolute;
  top: 13px;
  right: 50px;
}

.search-box .lense {
  width: 20px;
  position: absolute;
  top: 13px;
  right: 20px;
}

.search-btn {
  border: 1px solid transparent;
  padding: 9px 15px;
  color: #606060;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 28px;
  outline: none;
  cursor: pointer;
}
